@use "themes" as *;

@use "@nebular/theme/styles/globals" as *;
@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */
html {
  top: 0px !important;
  &.cdk-global-scrollblock {
    overflow: hidden !important;
  }
}
body {
  height: 100%;
}
* {
  text-transform: none !important;
  font-weight: nb-theme(text-paragraph-font-weight) !important;
}
.label {
  font-size: nb-theme(text-subtitle-2-font-size);
  color: nb-theme(font-light-dark);
  margin-bottom: nb-theme(label-margin);
  &-optional {
    font-size: inherit;
  }
}
.nb-form-field-addon-basic {
  color: nb-theme(font-light-dark);
}
nb-select,
input {
  background-color: nb-theme(color-basic-100) !important;
  border-radius: nb-theme(border-radius);
  & button {
    background-color: nb-theme(color-basic-100) !important;
    &.placeholder {
      color: nb-theme(color-placeholder) !important;
      opacity: nb-theme(opacity-1) !important;
    }
  }
}
input {
  &::placeholder {
    color: nb-theme(color-placeholder) !important;
  }
}

::-webkit-scrollbar {
  height: 6px;
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e1e5e9;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8f9bb3;
  border-radius: 10px;
}
